{% extends 'blog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="col-md-12"><h2>ID BASED</h2></div>
        <div class="col-md-12">
            {% for post in posts %}
            <div class="col-sm-6">
                <div class="post">
                    <div class="date">
                        <p>Author: {{ post.author }} || Published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="{% url 'post_detail1' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            </div>
            <div class="col-sm-6"><img src="{{ media_url }}{{ post.featured_image }}" width="100%"></div>
            {% endfor %}
        </div>
        
        {% if posts.has_other_pages %}
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
	</div>
    <div class="col-sm-6">
        <div class="col-md-12"><h2>SLUG BASED</h2></div>
        <div class="col-md-12">
            {% for post in posts %}
            <div class="col-sm-6">
                <div class="post">
                    <div class="date">
                        <p>Author: {{ post.author }} || Published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="{% url 'post_detail2' slug=post.slug %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            </div>
            <div class="col-sm-6"><img src="{{ media_url }}{{ post.featured_image }}" width="100%"></div>
            {% endfor %}
        </div>
        
        {% if posts.has_other_pages %}
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
	</div>
</div>
{% endblock %}